.container {
  flex-grow: 1;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0%) 0%,
      rgba(0, 0, 0, 90%) 100%
    ),
    #fff url('/src/assets/poster-bg.jpg') no-repeat center center;
  color: $base-300;

  &.large {
    padding: 114rem 40rem 40rem;
    border-radius: 20px;
  }

  &.middle {
    padding: 40rem;
    border-radius: 10px;
  }
}

.title {
  font-weight: 700;
  font-size: 40rem;
  line-height: 60rem;
}

.content {
  max-width: 181rem;
  margin-bottom: 32rem;
  font-weight: 400;
  font-size: 16rem;
  line-height: 24rem;
}
