.container {
  border-radius: 5px;
  background-color: $primary;
  color: $base-300;

  &.small {
    padding: 12rem 25rem;
    font-weight: 900;
    font-size: 16rem;
    line-height: 24rem;
    text-transform: uppercase;
  }

  &.medium {
    padding: 16rem 60rem;
    font-weight: 600;
    font-size: 18rem;
    line-height: 27rem;
  }

  &.large {
    display: flex;
    justify-content: center;
    padding: 13rem 20rem;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }
}
