.container {
  padding: 36rem 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  justify-content: space-between;

  @media (max-width: 1035px) {
    justify-content: center;
  }
}

.image {
  width: 61rem;
  height: 61rem;
  filter: brightness(0%) contrast(100%);
}

.title {
  color: $base-600;
  font-weight: 500;
  font-size: 16rem;
  line-height: 24rem;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 22rem;
  align-items: center;

  &.selected {
    .image {
      filter: invert(27%) sepia(51%) saturate(2904%) hue-rotate(320deg)
        brightness(104%) contrast(130%);
    }

    .title {
      color: $primary;
    }
  }
}

.card {
  padding: 34rem;
  border-radius: 10px;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 13%);
  line-height: 0;
}
