/* stylelint-disable color-hex-length */
/* stylelint-disable scss/dollar-variable-empty-line-before */

// Colors
$base-900: #2a2a2a;
$base-800: #3b3b3b;
$base-700: #3f3f40;
$base-600: #4e4e4e;
$base-500: #9f9f9f;
$base-400: #f7f5f2;
$base-300: #ffffff;

$primary: #f71963;

$secondary: #041e50;
