.title {
  display: flex;
  gap: 34rem;
  align-items: center;
  padding: 0 70rem;
  color: $primary;
  font-weight: 700;
  font-size: 30rem;
  line-height: 45rem;
  text-align: center;

  &::before,
  &::after {
    content: '';
    display: block;
    flex-grow: 1;
    height: 1rem;
    background-color: $base-500;
  }
}

.link {
  display: block;
  width: 100%;
  margin-bottom: 15rem;
  color: $base-700;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
}
